/* CSS Custom Properties */
:root {
    --header-color: rgb(120, 120, 125);
    --dark-bg: rgb(26, 26, 26);
    --dark-txt: rgb(20, 20, 20);
    --light-txt: white;
    --light-txt-secondary: rgb(158, 158, 158);
    --light-section-bg: rgb(231, 231, 231);
    --txt-bg-style: rgb(88, 247, 125);
}

/* html starting size */
html {
    font-size: 16px;
}



/* ------------------- */


/* Basic Element Sizes */

body {
    max-width: 100rem;
    margin: auto;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.125rem;
}
h3, h4, h5 {
    font-size: 1rem;
}


/* ------------------- */


/* FIXED Navigation */
.nav-container {
    position: fixed;    /* Sets the navigation bar to a fixed position */
    top: 0;             /* Sticks it at the top of the viewport */
    width: 100%;
    min-height: 3vh;
    background-color: var(--dark-bg);
    height: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;      /* Uses a higher z-index to ensure it's on top of other content */
}
.nav-container a {
    color: var(--light-txt);
    text-decoration: none;
    box-shadow: 2px;
    font-size: min(1.2rem, max(0.9rem, 4vw));
    font-weight: bold;
    padding-bottom: 2px;
    text-align: center;
}
.nav-container a:hover {
    border-bottom: 2px solid var(--txt-bg-style);
}



/* ------------------- */


/* Header Hero */

.header-container {                 /* FLEX Container */   
    height: 75vh;
    margin: 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.headerLeft {
    display: none;
} 
.headerRight {                      /* FLEX Container */
    height: 100%;
    width: min(90rem, 100%);
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headerPic {
    width: 100%;
    height: 100%;
    background-image: url(../images/profile-pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headerLeft h1 {
    color: var(--light-txt);
    text-align: center;
    margin: 1rem;
}
.headerRight nav {
    margin: 1rem;
}

/* Hero Name Box */
.heroNameBox {
    max-width: fit-content;
    position: relative;
    top: 70%;
    left: 10%;
    color: var(--light-txt);
}
.heroNameBox h2 {
    font-size: min(3rem, max(2rem, 4vw));
    font-weight: bold;
} 
.heroNameBox h3 {
    font-size: min(3rem, max(2rem, 4vw));
    font-weight: bold;
    color: var(--dark-txt);
    background: var(--txt-bg-style);
} 



/* ------------------- */



/* Navigation2 FLEX */
.nav-cont-cl {                    /* FLEX Container2 */
    width: 100%;
    height: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    padding-bottom: 3rem;
    /* flex-wrap: wrap; */
}
.nav-cont-cl a {
    color: var(--light-txt);
    text-decoration: none;
    box-shadow: 2px;
    font-size: min(1.2rem, max(0.9rem, 4vw));
    font-weight: bold;
    padding-bottom: 2px;
    text-align: center;
}

.nav-cont-cl a:hover {
    border-bottom: 2px solid var(--txt-bg-style);
}

/* Hero Name Box */
.heroNameBox2 {
    max-width: fit-content;
    position: relative;
    top: 70%;
    left: 10%;
    color: var(--light-txt);
}
.heroNameBox2 h2 {
    font-size: min(3rem, max(2rem, 4vw));
    font-weight: bold;
} 
.heroNameBox2 h3 {
    font-size: min(3rem, max(2rem, 4vw));
    font-weight: bold;
    color: var(--dark-txt);
    background: var(--txt-bg-style);
} 



/* --------------- */



/* Sections */

.page-section {
    margin: 0 auto;
    background-color: var(--light-section-bg);
    text-align: center;
}
.page-section h2 {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    /* margin-bottom: 0.5rem; */
    padding: 0rem 2rem;
    margin-top: 2.5rem;
}
.page-section h2 span {
    background: linear-gradient(transparent 60%, var(--txt-bg-style) 40%);
    border-bottom: 0.2rem solid var(--txt-bg-style);
}
.page-section p {
    text-align: center;
    /* margin-bottom: 4rem; */
    padding: 4rem 2.5rem;
}



/* ------------------- */


/* WORK */

/* Work Section (BG) */
.work-section {
    background-image: url(../images/section-bg.svg);
    background-attachment: fixed;
    background-repeat: repeat;
}

/* Work FLEX container */
.work-container {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    /* overflow: hidden; */
}
.work-block-item {
    flex: 1;
}

/* Work Blocks (all) */
.work-block {
    margin-top: 1.5rem;
}
.work-block img {
    max-width: 93%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: 0.5sec;
    margin: auto;
}
.work-block img:hover {
    cursor: pointer;
    filter: brightness(120%);
}
.work-block a {
    display: inline-block;
    max-width: 80%;
}
.work-img-label {
    text-align: center;
}

.work-img-label label {
    display: inline-block;
    /* padding: 0% 1%; */
    letter-spacing: 0.5rem;
    font-size: 0.8rem;
    color: var(--light-txt);
    box-shadow:5px 7px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.work-block p {
    color: var(--light-txt);
    /* margin: 1rem 1rem 3rem 1rem; */
    max-width: 70%;
    text-align: center;
}

/* Work Highlight */
.work-highlight img {
    /* max-width: min(40rem, max(20rem, 50vw)); */
    /* max-width: 80%; */
    border: 1px solid var(--txt-bg-style);
}



/* ------------------- */


/* Contact */
.contact-section {
    min-height: 14rem;
    background-color: var(--dark-bg);
    padding: 1rem;
    padding-top: 2.6rem;
}
.contact-section h2 {
    color: var(--light-txt);
    margin: 0 auto;
    padding: 0;
    padding-bottom: 1.5rem;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-item {
    min-width: 20rem;
    margin: 0.5rem;
    flex-grow: 1;
}
.contact-item img {
    height: 1rem;
}
.contact-item a {
    height: 1rem;
    text-decoration: none;
    margin: 1rem;
    color: var(--light-txt-secondary);
}
.contact-item a:hover {
    font-weight: bold;
}



/* ------------------- */


/* Media Queries */

@media (min-width: 50rem) {
    
    /* Navigation Fixed */
    .nav-container {
        display: none;
    }

    /* Header */
    .headerLeft {
        display: flex;
        /* New */
        flex-direction: column;
        justify-content: space-between;


        height: 100%;
        width: min(300px, 50%);
        background-color: var(--dark-bg);
    }
    .headerRight {
        background-color: var(--header-color);
    }

    /* Sections */
    .page-section p {

        padding: 4rem 9rem;
    }

    /* Contact */
    .contact-container {
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: center;
    }
    .contact-item {
        min-width: 8rem;
        margin-top: 3rem;
        align-items: start;
    }

    /* Work */
    .work-container {
        flex-wrap: nowrap;
    }
    .work-img-label label {
        letter-spacing: 1rem;
    }

}


@media screen and (orientation: landscape) {
    .header-container {   
        height: 100vh;
    }
    .nav-container {
        display: none;
    }
}