/* CSS Custom Properties */
:root {
    --header-color: rgb(120, 120, 125);
    --dark-bg: rgb(26, 26, 26);
    --dark-txt: rgb(20, 20, 20);
    --light-txt: white;
    --light-txt-secondary: rgb(158, 158, 158);
    --light-section-bg: rgb(231, 231, 231);
    --txt-bg-style: rgb(88, 247, 125);
}


/* html starting size */
html {
    font-size: 16px;
}


/* Basic Element Sizes */
body {
    max-width: 100rem;
    margin: auto;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.125rem;
}
h3, h4, h5 {
    font-size: 1rem;
}


/* Header Hero */
.header-container {   
    height: 75vh;
    margin: 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.headerLeft {
    display: none;
} 
.headerRight {
    height: 100%;
    width: min(90rem, 100%);
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headerPic {
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    background-image: url(../images/profile-pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headerLeft h1 {
    color: var(--light-txt);
    text-align: center;
    margin: 1rem;
}
.headerRight nav {
    margin: 1rem;
}


/* Navigation */
.nav-container {
    width: 100%;
    height: 2.2rem;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.nav-container a {
    color: var(--light-txt);
    text-decoration: none;
    box-shadow: 2px;
    font-size: min(1.2rem, max(0.9rem, 4vw));
    font-weight: bold;
    padding-bottom: 2px;
    /* flex-grow: 1; */
    text-align: center;
}

.nav-container a:hover {
    border-bottom: 2px solid var(--txt-bg-style);
}


/* Hero Name Box */
.heroNameBox {
    max-width: fit-content;
    position: relative;
    top: 70%;
    left: 10%;
    color: var(--light-txt);
}
.heroNameBox h2 {
    font-size: min(3rem, max(2rem, 4vw));
    font-weight: bold;
} 
.heroNameBox h3 {
    font-size: min(3rem, max(2rem, 4vw));
    font-weight: bold;
    color: var(--dark-txt);
    background: var(--txt-bg-style);
} 


/* Sections */
.page-section {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    background-color: var(--light-section-bg);
    text-align: center;
}
.page-section h2 {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    /* margin-bottom: 0.5rem; */
    padding: 0rem 2rem;
    margin-top: 2.5rem;
}
.page-section h2 span {
    background: linear-gradient(transparent 60%, var(--txt-bg-style) 40%);
    border-bottom: 0.2rem solid var(--txt-bg-style);
}
.page-section p {
    text-align: center;
    /* margin-bottom: 0.5rem; */
    padding: 1rem 2.5rem;
}


/* Work */

.work-section {
    min-height: 30rem;
    background-image: url(../images/section-bg.svg);
}
.work-section label {
    display: inline-block;
    padding: 0% 2%;
    letter-spacing: 1rem;
    font-size: 1rem;
    color: var(--light-txt);
    box-shadow:5px 7px 5px rgba(0, 0, 0, 0.5);
    max-width: min(40rem, max(20rem, 50vw));
}
.work-highlight {
    min-height: 40vh;
    margin: 1rem;
    overflow: hidden;
    /* background-color: var(--dark-bg); */
}
.work-highlight img {
    max-width: min(40rem, max(20rem, 50vw));
    /* box-shadow:5px 3px 10px var(--dark-bg); */
    padding: 0.5rem;
    border: 1px solid var(--txt-bg-style);
    border-radius: 0.3rem;
}
.work-highlight img:active {
    max-height: 85%;
    max-width: 95%;
    box-shadow: 5px 2px 10px var(--txt-bg-style);
}
.work-highlight img:hover {
    cursor: pointer;
}





/* Contact */
.contact-section {
    min-height: 14rem;
    background-color: var(--dark-bg);
    padding: 1rem;
    padding-top: 2.6rem;
}
.contact-section h2 {
    color: var(--light-txt);
    margin: 0 auto;
    padding: 0;
    padding-bottom: 1.5rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-item {
    min-width: 20rem;
    margin: 0.5rem;
    flex-grow: 1;
}
.contact-item img {
    height: 1rem;
}
.contact-item a {
    height: 1rem;
    text-decoration: none;
    margin: 1rem;
    color: var(--light-txt-secondary);
}
.contact-item a:hover {
    font-weight: bold;
}




/* Media Queries */

@media (min-width: 50rem) {
    /* Header */
    .headerLeft {
        display: flex;
        height: 100%;
        width: min(300px, 50%);
        background-color: var(--dark-bg);
    }
    .headerRight {
        background-color: var(--header-color);
    }

    /* Contact */
    .contact-container {
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: center;
    }
    .contact-item {
        min-width: 8rem;
        margin-top: 3rem;
        align-items: start;
        /* flex-grow: 1; */
    }
}

@media screen and (orientation: landscape) {
    .header-container {   
        height: 100vh;
    }
}